* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #1E2E6A !important; 
}

.navbar-brand, .nav-link {
  color: white !important;
  font-weight: bold;
}

.navbar-toggler-icon {
  background-color: white !important;
}

.nav-link:hover {
  color:greenyellow !important;
}
.select-country-menu:hover {
text-decoration: underline;
}
.dropdown-item:hover {
color: rgb(58,110,52)
}


.btn {
  background-color: rgb(58,110,52) !important;
  color: white !important;
}

.btn:hover {
  background-color: #1E2E6A !important;
  color: white !important;
}

.display-5 {
  color: #1E2E6A;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #dddddd;
}

.country-btn:hover {
  background-color: rgb(58,110,52, 0.5);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* quick recipe cards */
.easy-recipe-img {
  height: 100%;
  object-fit: cover;
}

.img-container {
  width: 100%;
  height: 40%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.foodImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* cards */
.content {
    padding: 50px;
  }
  .sectionHeading {
    text-align: center;
    font-weight: bold;
    color: rgb(58,110,52) !important;
  }
  .dropdown-recipes {
    padding: 0px 30px 30px 30px;
  }
  .cardContainer {
    text-align: center;
  }
  /* footer  */
  footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    background-size: 50px;
    color: rgb(58,110,52);
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 2.3em;
    height: 2.3em;
  }

  .fa:hover {
    opacity: 0.7;
  }
.fa-facebook {
  background: rgb(58,110,52);
  color: white;
  /* border-radius: 50%;
  min-width: 4.4%; */
}
.fa-linkedin {
  background: rgb(58,110,52);
  color: white;
}
.fa-twitter {
  background: rgb(58,110,52);
  color: white;
}
.fa-github {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}
i {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: rgb(58,110,52);
}

.card {
  max-height: 650px;
  overflow: hidden;
  /* overflow-y: auto; */
  background-color: white;

  transition: max-height 0.3s ease; 
}



.card:hover {
  max-height: none; 
}


.instructions {
  color: black !important;
  font-weight: 200;
  font-size: large;
}

.img-articles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img-articles > img {
  height: 100%;
  object-fit: cover;
}
